@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 48%);
    --clr-slate-900: hsl(218, 44%, 22%);
    --fs: 15px;
    --ff: "Outfit", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: --fs;
    font-family: var(--ff);
    background-color: var(--clr-slate-300);
}

main {
    height: 100dvh;  
    display: grid;
    place-items: center;
}

.qr-code-container {
    width: 18rem;
    margin-inline: auto;
    padding: 1rem;
    background-color: var(--clr-white);
    border-radius: 1.2rem;
}

.qr-code-img {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 1.2rem;
}

article {
    text-align: center;
}

.improve {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--clr-slate-900);
}

.scan {
    color: var(--clr-slate-500);
    font-weight: 400;
    margin-bottom: 1.8rem;
}

.attribution {
    font-size: 14px;
    text-align: center;
    margin-bottom: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}